<app-menu-header [id_menu]="id"></app-menu-header>
<div class="grid w-full m-2 p-2">
  <div class="flex align-items-center justify-content-center ">
      <p-button icon="pi pi-plus"  title="Добавити" (onClick)="addItem()"></p-button>       
  </div>
  <div class="flex align-items-center justify-content-center ml-5">
      <p-button icon="pi pi-refresh"  title="Оновити" (onClick)="loadData()"></p-button>
  </div>
  <div  class="flex align-items-center justify-content-center ml-5">
    <input type="text" 
      pInputText placeholder="текст для пошуку ....." 
      [(ngModel)]="search" 
      size="64" 
      (change)="newSearch()" />
      <p-button icon="pi pi-times"  title="Оновити" (onClick)="clearSearch()"></p-button>                                              
  </div>
  <div class="flex align-items-center gap-5 justify-content-center ml-auto" >
      Всього записів: {{totalRecords}}
  </div>
</div>
<div class="card"> 
    <p-dataView
      #dv 
      [value]="ListPages" 
      [paginator]="true" 
      [rows]="10" 
      filterBy="name"
      layout="grid"
      [lazy]="true"
      [first]="offset"
      (onLazyLoad)="onPageChange($event)"
      [totalRecords]="totalRecords" 
      > 
      <ng-template let-Page pTemplate="gridItem"> 
        <div class="p-col-12 mb-6 p-3 listitem"> 
          <div class="flex flex-row flex-wrap tools-listitem">
            <div class="page-date flex align-items-center justify-content-center "> 
              <p-calendar [showTime]="true" 
              [(ngModel)]="Page.date"
              dateFormat="dd-mm-yy"
              (onSelect)="updatePage(Page.id, Page.date, 'date')"> </p-calendar>                   
            </div>
            <div class="page-title flex align-items-center justify-content-center m-2">                   
              <div><input type="text" title='Довжина видимого тексту' pInputText [(ngModel)]="Page.v_len" type="number" min="0" max="1999" (change)="updatePage(Page.id, Page.v_len, 'v_len')"/></div>
            </div> 
            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="activ"                   
                  [(ngModel)]="Page.activ"  
                  label='Активна'
                  (onChange)="updatePage(Page.id, Page.activ, 'activ')" > 
              </p-checkbox>                                                 
            </div>

            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="show_dt"                   
                  [(ngModel)]="Page.show_dt"
                  label='Показувати дату'
                  (onChange)="updatePage(Page.id, Page.show_dt, 'show_dt')" > 
              </p-checkbox>                     
            </div>
            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="rss"                   
                  [(ngModel)]="Page.rss"  
                  label='RSS'
                  (onChange)="updatePage(Page.id, Page.rss, 'rss')"  >
              </p-checkbox>                     
            </div>

            <div class="page-title flex align-items-center justify-content-center m-2">
              <p-checkbox 
                  [binary]="true" 
                  name="soc_nets"                   
                  [(ngModel)]="Page.soc_nets"  
                  label='Соціальні мережі' 
                  (onChange)="updatePage(Page.id, Page.soc_nets, 'soc_nets')" >
              </p-checkbox>                   
            </div>

            
            <div>{{Page.id}}</div>          
            <div class="page-title flex align-items-center justify-content-center m-2">
              <p-button icon="pi pi-cog"  (onClick)="pref_page(Page.id)"></p-button>             
            </div>
            <div class="page-title flex align-items-center justify-content-center m-2">
              <app-single-upload-file (reload)="_Reload(Page.id)" [id]="Page.id" [id_component]="2"></app-single-upload-file>    
            </div>
          </div>
          <div>
            <app-chips [component_id]="2" [chips_id]="Page.id"> </app-chips>            
           </div>
           <div>
              <textarea class="page-head"
                rows="2"
                pInputTextarea 
                [(ngModel)]="Page.head"
                (change)="updatePage(Page.id, Page.head, 'head')">
              </textarea>                  
            </div>                          
            <div  (click)="openPage($event, Page.id)">
              <div class="product-grid-item-content"> 
                <img *ngIf="Page.photo_src"  src="{{Page.photo_src}}" class="title-img">
                <div [innerHTML]="Page.text | safehtml"></div>
              </div>
            </div>                      
        </div>        
      </ng-template> 
    </p-dataView> 
  </div>

<app-preference-page (clickDialog)="_Dialog()" [Page_id]="current_Page_id" [is_showDialog]="preference_show"></app-preference-page>    