<h3>{{Menu?.name}}</h3>
<div class="grid w-full m-2 p-2">
    <div class="flex align-items-center justify-content-center ">
        <p-button icon="pi pi-plus"  title="Добавити" (onClick)="addItem()"></p-button>       
    </div>
    <div class="flex align-items-center justify-content-center ml-5">
        <p-button icon="pi pi-refresh"  title="Оновити" (onClick)="getListPage()"></p-button>
    </div>
    <div class="flex align-items-center gap-5 justify-content-center ml-auto" >
        Всього записів: {{totalRecords}}
    </div>
</div>
<div class="card"> 
    <p-dataView
    #dv 
    [value]="ListPages" 
    [paginator]="true" 
    [rows]="10" 
    filterBy="name"
    layout="grid"
    [lazy]="true" 
    (onLazyLoad)="onLazyLoad($event)"
    [totalRecords]="totalRecords"
    > 
        <ng-template let-Page pTemplate="gridItem"> 
            <div class="grid col-12 m-2 listitem">
                <div class="grid w-full ml-4 mr-4">
                    <div class="col-4 flex align-items-center justify-content-center">
                        <img *ngIf="Page.photo"  src="{{Page.photo.src}}" class="title-img">                    
                    </div>
                    <div class="col-8">
                        <div class="text-center p-3 border-round-sm ">
                            <div class="flex align-items-center justify-content-end p-2">
                                <div>{{Page.id}}</div>
                            </div>
                            <div class="flex align-items-center  p-2">
                                <div>
                                    <div>
                                        Порядковий номер: <input type="text" pInputText [(ngModel)]="Page.pn" type="number" size="2" min="0" max="99" (change)="changePage(Page.id, Page.pn, 'pn')"/>
                                    </div>                                     
                                </div> 
                                <div  class="ml-5"> 
                                    <p-checkbox 
                                        [binary]="true" 
                                        name="activ"                   
                                        [(ngModel)]="Page.activ"  
                                        label='Активна'
                                        (onChange)="changePage(Page.id, Page.activ, 'activ')" > 
                                    </p-checkbox>                                                  
                                </div>
                                <div class="ml-5">
                                    <app-single-upload-file (reload)="_Reload()" [id]="Page.id" [id_component]="11"></app-single-upload-file>
                                </div>     
                                <div class="ml-5">
                                   <!-- <p-button icon="pi pi-file-o"  title="Сторінка" (onClick)="pageItemSlider(Page.id)"></p-button> -->
                                </div>
                                <div class="ml-5">
                                    <!--<p-button icon="pi pi-trash"  title="Оновити" (onClick)="delItemSlider(Page.id)"></p-button> -->
                                </div>
                            </div>
                            <div  class="flex align-items-center p-2">
                                <div>
                                    Ширина зображення:  <input type="text" pInputText [(ngModel)]="Page.photo.width" type="number" size="4" min="0" max="680" (change)="changePhoto(Page.id, Page.photo.width, 'width')"/>  px                                            
                                </div> 
                                <div class="ml-5">
                                    Висота зображення: <input type="text" pInputText [(ngModel)]="Page.photo.height" type="number" size="4" min="0" max="680" (change)="changePhoto(Page.id, Page.photo.height, 'height')"/> px                                             
                                </div>
                            </div>
                            <div  class="flex align-items-center  p-2">
                                <div >
                                    <input type="text" pInputText placeholder="Адреса зовнішнього посилання ....." [(ngModel)]="Page.title" size="64" required="true" (change)="changePage(Page.id, Page.title, 'title')" />                                              
                                </div>
                                <div class="ml-5">
                                    <p-checkbox 
                                        [binary]="true" 
                                        name="activ"                   
                                        [(ngModel)]="Page.activ"  
                                        label='Відкрти в новому вікні'
                                        (onChange)="changePage(Page.id, Page.activ, 'activ')" > 
                                    </p-checkbox>                
                                </div>
                            </div>
                        </div>
                    </div>                
                </div>
                <div class="grid w-full ml-4 mr-4">
                    <div>
                        Короткий опис
                    </div>
                    <div class="w-full ">
                        <textarea class="w-full"
                            rows="3"
                            pInputTextarea 
                            [(ngModel)]="Page.head"
                            (change)="changePage(Page.id, Page.head, 'head')">
                        </textarea> 
                    </div>
                </div>
            </div>
        </ng-template> 
    </p-dataView> 
</div>       


