
<p-dialog header="Налаштування користувача" 
[(visible)]="is_showDialog" [modal]="true" 
[draggable]="true" [resizable]="true" 
(onShow)="onShow()" 
(onHide)="onHide()"
[style]="{height: '60vh', width: '50vw'}"
[baseZIndex]="10000"> 
<p-tabView>
    <p-tabPanel header="Загальні">
        <h3>Загальні налаштування системи</h3>
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="Tree_ShowAll" class="w-20rem mr-2">Показувати скриті пункти меню</label>
                    <p-checkbox 
                        [binary]="true" 
                        id="Tree_ShowAll"
                        name="Tree_ShowAll"
                        [(ngModel)]="UserPreference.Tree_ShowAll" 
                        (onChange)="changeData(UserPreference.Tree_ShowAll, 'Tree_ShowAll')" 
                        >
                    </p-checkbox>                                        
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="Tree_ShowTyp7" class="w-20rem mr-2">Показувати пункти меню ТИП 7</label>
                    <p-checkbox 
                        [binary]="true" 
                        id="Tree_ShowTyp7"
                        name="Tree_ShowTyp7"
                        [(ngModel)]="UserPreference.Tree_ShowTyp7" 
                        (onChange)="changeData(UserPreference.Tree_ShowTyp7, 'Tree_ShowTyp7')" 
                        >
                    </p-checkbox>                                        
                </div>                                              
                <!--<div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Банера"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div>                                         
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Відеоконтент"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div>                                         
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Фотогалерею"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div>                                         
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Мега меню"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Різне"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div>                                         
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Праве меню"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div>                                         
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Сховати "Футер"</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>                                        
                </div>      -->                                   
            </div>           
                    
    </p-tabPanel>
  <!--  <p-tabPanel header="Меню">
        <h3>Параметри пункту меню при створенні</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                 <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Тип сторінки </label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Активність пункту меню</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Показувати назву пункту меню</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Дата і  час на сторінці </label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Іконка пункту меню</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                </div>  
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Відкривати посилання в новому вікні</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                </div>                                          
            </div>       
            
        </form>
    </p-tabPanel>-->
    <p-tabPanel header="Сторінки">
        <h3>Параметри при створенні сторінки</h3>
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="User_Page_Vlen" class="w-20rem mr-2">Довжина видимого тексту</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Довжина видимого тексту"
                        class="flex-1"
                        id="User_Page_Vlen" 
                        [(ngModel)]="UserPreference.Page_Vlen"
                        (change)="changeData(UserPreference.Page_Vlen, 'Page_Vlen')"                    
                    />                                   
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">ТОП</label>
                    <p-checkbox 
                        [binary]="true" 
                        id="Page_Top"
                        name="Page_Top"
                        [(ngModel)]="UserPreference.Page_Top" 
                        (onChange)="changeData(UserPreference.Page_Top, 'Page_Top')" 
                        >
                    </p-checkbox>                                        
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Соціальні мережі</label>
                    <p-checkbox 
                        [binary]="true" 
                        id="Page_SocNet"
                        name="Page_SocNet"
                        [(ngModel)]="UserPreference.Page_SocNet" 
                        (onChange)="changeData(UserPreference.Page_SocNet, 'Page_SocNet')" 
                        >
                    </p-checkbox>                                        
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">RSS</label>
                    <p-checkbox 
                        [binary]="true" 
                        id="Page_RSS"
                        name="Page_RSS"
                        [(ngModel)]="UserPreference.Page_RSS" 
                        (onChange)="changeData(UserPreference.Page_RSS, 'Page_RSS')" 
                        >
                    </p-checkbox>                                        
                </div>                                                       
            </div>       
    </p-tabPanel><!--
    <p-tabPanel header="Фото">
        <h3>Параметри при створенні фотогалереї</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Показувати скриті пункти меню</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                                        
                </div>                                         
            </div>       
            
        </form>
    </p-tabPanel>
    <p-tabPanel header="Відео">
        <h3>Параметри при створенні відеосторінки</h3>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="HiddenTree" class="w-20rem mr-2">Показувати скриті пункти меню</label>
                    <p-checkbox 
                        id="HiddenTree"
                        [binary]="true" 
                        name="HiddenTree">
                    </p-checkbox>
                                        
                </div>                                         
            </div>       
            
        </form>
    </p-tabPanel> -->
    <p-tabPanel header="Редактор">
         <h3>Налаштування редактора по замовчуванню</h3>
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="Editor_toolbox" class="w-20rem mr-2">Показувати панель інчтрументів</label>
                    <p-checkbox 
                        [binary]="true" 
                        id="Editor_toolbox"
                        name="Editor_toolbox"
                        [(ngModel)]="UserPreference.Editor_toolbox" 
                        (onChange)="changeData(UserPreference.Editor_toolbox, 'Editor_toolbox')" 
                        >
                    </p-checkbox>                                        
                </div>                                        
            </div>               
    </p-tabPanel>
    <p-tabPanel header="СЕО">
        <h3>Параметри СЕО за замовчуванням</h3>
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="User_SEO_title" class="w-20rem mr-2">SEO_title</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="SEO_title"
                        class="flex-1"
                        id="User_SEO_title" 
                        [(ngModel)]="UserPreference.SEO_title"
                        (change)="changeData(UserPreference.SEO_title, 'SEO_title')"                    
                    />
                    <!--
                    <small class="p-error block" *ngIf="submitted && userForm.get('fname')?.invalid ">
                        Прізвище обовязкове! Мінімальна довжина 20 символів!
                    </small>
                    -->                                             
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="User_SEO_description" class="w-20rem mr-2">SEO_description</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="SEO_description"
                        class="flex-1"
                        id="User_SEO_description"
                        [(ngModel)]="UserPreference.SEO_description"
                        (change)="changeData(UserPreference.SEO_description, 'SEO_description')"
                    />
                    <!--
                    <small class="p-error block" *ngIf="submitted && userForm.get('fname')?.invalid ">
                        Прізвище обовязкове! Мінімальна довжина 20 символів!
                    </small>
                    -->                                             
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="User_SEO_keywords" class="w-20rem mr-2">SEO_keywords</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="SEO_keywords"
                        class="flex-1"
                        id="User_SEO_keywords"
                        [(ngModel)]="UserPreference.SEO_keywords"
                        (change)="changeData(UserPreference.SEO_keywords, 'SEO_keywords')"
                    />
                    <!--
                    <small class="p-error block" *ngIf="submitted && userForm.get('fname')?.invalid ">
                        Прізвище обовязкове! Мінімальна довжина 20 символів!
                    </small>
                    -->                                             
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="User_SEO_robots" class="w-20rem mr-2">SEO_robots</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="SEO_robots"
                        class="flex-1"
                        id="User_SEO_robots"
                        [(ngModel)]="UserPreference.SEO_robots"
                        (change)="changeData(UserPreference.SEO_robots, 'SEO_robots')"
                    />
                    <!--
                    <small class="p-error block" *ngIf="submitted && userForm.get('fname')?.invalid ">
                        Прізвище обовязкове! Мінімальна довжина 20 символів!
                    </small>
                    -->                                             
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="User_SEO_robots" class="w-20rem mr-2">SEO_canonical</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="SEO_canonical"
                        class="flex-1"
                        id="User_SEO_canonical"
                        [(ngModel)]="UserPreference.SEO_canonical"
                        (change)="changeData(UserPreference.SEO_canonical, 'SEO_canonical')"
                    />
                    <!--
                    <small class="p-error block" *ngIf="submitted && userForm.get('fname')?.invalid ">
                        Прізвище обовязкове! Мінімальна довжина 20 символів!
                    </small>
                    -->                                             
                </div> 
                <div class="flex align-items-center mb-1">
                    <label for="User_opengraph" class="w-20rem mr-2">opengraph</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="opengraph"
                        class="flex-1"
                        id="User_opengraph"
                        [(ngModel)]="UserPreference.opengraph"
                        (change)="changeData(UserPreference.opengraph, 'opengraph')"                        
                    />
                    <!--
                    <small class="p-error block" *ngIf="submitted && userForm.get('fname')?.invalid ">
                        Прізвище обовязкове! Мінімальна довжина 20 символів!
                    </small>
                    -->                                    
                </div>                 
            </div>                   
    </p-tabPanel>
    <p-tabPanel header="Користувач">
        <h3>Налаштування користувача</h3>
            <div class="p-fluid p-2" style="max-width:600px; margin: auto;">
                <div class="flex align-items-center mb-1">
                    <label for="coname" class="w-20rem mr-2">Прізвище:</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Введіть своє прізвище"
                        class="flex-1"
                        id="coname"
                        [(ngModel)]="Person.coname"
                        (change)="changeEmployee(Person.coname, 'coname')"
                    />         
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="fname" class="w-20rem mr-2">Ім'я:</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Введіть своє ім'я"
                        class="flex-1"
                        id="fname"
                        [(ngModel)]="Person.fname"
                        (change)="changeEmployee(Person.fname, 'fname')"
                    />           
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="lname" class="w-20rem mr-2">По батькові:</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Введіть ім'я по батькові"
                        class="flex-1"
                        id="lname"
                        [(ngModel)]="Person.lname"
                        (change)="changeEmployee(Person.lname, 'lname')"
                    />           
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="post" class="w-20rem mr-2">Посада:</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Введіть свою посаду"
                        class="flex-1"
                        id="post"
                        [(ngModel)]="Person.post"
                        (change)="changeEmployee(Person.post, 'post')" 
                    />                               
                </div>
                <div class="flex align-items-center mb-1">
                    <label for="email" class="w-20rem mr-2">Елктронна пошта:</label>
                    <input 
                        type="text" 
                        pInputText 
                        placeholder="Введіть свою електронну пошту"
                        class="flex-1"
                        id="email"
                        [(ngModel)]="Person.email"
                        (change)="changeEmployee(Person.email, 'email')"
                    />
                </div>                                                        
            </div>                  
    </p-tabPanel>
</p-tabView>    

    <ng-template pTemplate="footer">
        <p-button
                label="Завершити"
                styleClass="p-button-success"
                (click)="onCancel();">
            </p-button>
    </ng-template>

       
</p-dialog>
