<p-dialog header="Налаштування доступу" 
[(visible)]="is_showDialogAccess" [modal]="true" 
[draggable]="true" [resizable]="true" [closable]="false"
(onShow)="onShowDialogAccess()" 
[style]="{width: '50vw', height: '50vh'}"  
[baseZIndex]="10000"> 
<div>
<h3>id - {{Menu_id}}</h3>
<p-dropdown 
  [options]="listEmployee" 
  [(ngModel)]="selectedItem" 
  optionLabel="full_name" 
  placeholder="Виберіть користувача"
  [filter]="true">
</p-dropdown>
<button pButton icon="pi pi-plus"  (click)="addAccess()"></button>

<p>Выбранный элемент: {{ selectedItem?.label }}</p>

<ul>
    <li *ngFor="let item of listAccess">{{ item.full_name }} 
        <p-button icon="pi pi-trash" 
            (click)="delAccess(item.id)"  
            > 
        </p-button> 
    </li>
</ul>
</div>
<ng-template pTemplate="footer"> 
    <p-button icon="pi pi-check" 
        (click)="onSave();"
        label="Зберегти" 
        styleClass="p-button-text"> 
    </p-button> 

    <p-button icon="pi pi-times" 
        (click)="onCancel();"  
        label="Відмовитись"> 
    </p-button> 
</ng-template> 
</p-dialog>

