<h3>{{Menu?.name}}</h3>
<div class="grid w-full m-2 p-2">
  <div class="flex align-items-center justify-content-center ">
      <!--<p-button icon="pi pi-plus"  title="Добавити" (onClick)="addItem()"></p-button>  -->
      <app-single-upload-file (reload)="__Reload(id)" [id]="id" [id_component]="8"></app-single-upload-file>            
  </div>
  <div class="flex align-items-center justify-content-center ml-5">
      <p-button icon="pi pi-refresh"  title="Оновити" (onClick)="getListPhotos()"></p-button>
  </div>
  <div class="flex align-items-center justify-content-center ml-5">
    <input type="text" pInputText placeholder="текст для пошуку ....." [(ngModel)]="search" size="64" required="true" (change)="newSearch()" />                                              
  </div>
  <div class="flex align-items-center gap-5 justify-content-center ml-auto" >
      Всього записів: {{totalRecords}}
  </div>
</div>
<div class="card"> 
    <p-dataView
      #dv 
      [value]="ListPhotos" 
      [paginator]="true" 
      [rows]="12" 
      filterBy="name"
      layout="grid"
      [lazy]="true" 
      (onLazyLoad)="onLazyLoad($event)"
      [totalRecords]="totalRecords" 
      > 
      <ng-template let-Photo pTemplate="gridItem"> 
        <div class="grid col-12 m-2 bg-gray-300">           
          <div class="col-4 flex-column align-items-center justify-content-center">              
            <img src="http://mena.cg.gov.ua/{{Photo.photo_src}}" class="title-img">                               
          </div>
          <div class="col-8 flex-column">                            
            <div class="flex justify-content-between">
              <div class="flex gap-2 m-1">
                  <input type="text" title='Порядковий номер' pInputText [(ngModel)]="Photo.pn" type="number" min="0" max="1999" (change)="changePhoto(Photo.id, Photo.pn, 'pn')"/>
                  <p-checkbox 
                    [binary]="true" 
                    name="activ"                   
                    [(ngModel)]="Photo.activ"  
                    label='Активна'
                    title="Фото відображається на сайті" 
                    (onChange)="changePhoto(Photo.id, Photo.activ, 'activ')" >
                    </p-checkbox>
                </div>
                <div class="flex">
                  <div>
                    {{Photo.id_menu}}
                  </div>                
                  <div class="flex align-items-center justify-content-center m-2">
                    <p-button 
                      icon="pi pi-trash"  
                      title="Вилучити фото"
                      (onClick)="delete(Photo.id)">
                    </p-button>             
                  </div>
                </div> 
            </div>
            <div class="flex  gap-2 m-1">
              <input 
                type="text" 
                pInputText 
                placeholder="Адреса зовнішнього посилання ....." 
                [(ngModel)]="Photo.routerlink" 
                size="64" 
                required="true" 
                title="Адреса зовнішнього посилання"
                (change)="changePhoto(Photo.id, Photo.routerlink, 'routerlink')" 
              />
              <p-checkbox 
                [binary]="true" 
                name="new_window" 
                [(ngModel)]="Photo.new_window"  
                label='Відкривати в новому вікні' 
                title="Відкривати посилання в новому вікні"
                (onChange)="changePhoto(Photo.id, Photo.new_window, 'new_window')" >
              </p-checkbox>                                              
            </div>
            <div class="m-1">
              <input 
                type="text" 
                title="Альтернативний текст фото" 
                pInputText 
                placeholder="Адреса зовнішнього посилання ....." 
                [(ngModel)]="Photo.photo_alt" 
                required="true" 
                class="w-full"
                (change)="changePhoto(Photo.id, Photo.photo_alt, 'photo_alt')" 
              />                            
            </div> 
            <div class="m-1">
              <textarea class="page-title w-full "
                rows="2"
                pInputTextarea 
                title="Титульний текст фото"
                [(ngModel)]="Photo.photo_title"
                (change)="changePhoto(Photo.id, Photo.photo_title, 'photo_title')">
              </textarea>                  
            </div>
            <div class="flex  gap-2 m-1">
              <input 
                type="text" 
                pInputText 
                placeholder="Автор фото ....." 
                [(ngModel)]="Photo.author" 
                required="true" 
                class="w-full"
                title="Автор фото"
                (change)="changePhoto(Photo.id, Photo.author, 'author')" 
              />
              <p-checkbox 
                [binary]="true" 
                name="show_author"                   
                [(ngModel)]="Photo.show_author"  
                label='Показувати автора' 
                title="Показувати автора фото"
                (onChange)="changePhoto(Photo.id, Photo.show_author, 'show_author')" >
                </p-checkbox> 
            </div>                                             
          </div>
      </div>        
    </ng-template> 
  </p-dataView> 
</div>

