<h3>{{Menu?.name}}</h3>
<div class="grid w-full m-2 p-2">
  <div class="flex align-items-center justify-content-center ">
     <p-button icon="pi pi-plus"  title="Добавити" (onClick)="addItem()"></p-button>      
  </div>
  <div class="flex align-items-center justify-content-center ml-5">
      <p-button icon="pi pi-refresh"  title="Оновити" (onClick)="getListPage()"></p-button>
  </div>
  <div class="flex align-items-center gap-5 justify-content-center ml-auto" >
      Всього записів: {{totalRecords}}
  </div>
</div>
<div class="card"> 
    <p-dataView
      #dv 
      [value]="ListVideos" 
      [paginator]="true" 
      [rows]="10" 
      filterBy="name"
      layout="grid"      
      [lazy]="true" 
      (onLazyLoad)="onLazyLoad($event)"
      [totalRecords]="totalRecords" 
      > 
      <ng-template let-Page pTemplate="gridItem"> 
        <div class="p-col-12 mb-6 p-3 listitem bg-gray-100"> 
          <div class="flex flex-row flex-wrap tools-listitem">
            <div class="page-date flex align-items-center justify-content-center "> 
              <p-calendar [showTime]="true" 
              [(ngModel)]="Page.date"
              dateFormat="dd-mm-yy"
              (onSelect)="changePage(Page.id, Page.date, 'date')"> </p-calendar>                   
            </div>
            <div class="page-title flex align-items-center justify-content-center m-2">                   
              <div><input pInputText [(ngModel)]="Page.v_len"  title="Довжина видимого тексту"  type="number" min="0" max="1999" (change)="changePage(Page.id, Page.v_len, 'v_len')"/></div>
            </div> 
            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="activ"                   
                  [(ngModel)]="Page.activ"  
                  label='Активна'
                  (onChange)="changePage(Page.id, Page.activ, 'activ')" > 
              </p-checkbox>                                                 
            </div>

            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="show_dt"                   
                  [(ngModel)]="Page.show_dt"
                  label='Показувати дату'
                  (onChange)="changePage(Page.id, Page.show_dt, 'show_dt')" > 
              </p-checkbox>                     
            </div>
            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="rss"                   
                  [(ngModel)]="Page.rss"  
                  label='RSS'
                  (onChange)="changePage(Page.id, Page.rss, 'rss')"  >
              </p-checkbox>                     
            </div>

            <div class="page-title flex align-items-center justify-content-center m-2">
              <p-checkbox 
                  [binary]="true" 
                  name="soc_nets"                   
                  [(ngModel)]="Page.soc_nets"  
                  label='Соціальні мережі' 
                  (onChange)="changePage(Page.id, Page.soc_nets, 'soc_nets')" >
              </p-checkbox>                   
            </div>

            <div class="page-title flex align-items-center justify-content-center m-2"> 
              <p-checkbox 
                  [binary]="true" 
                  name="top"                   
                  [(ngModel)]="Page.top" 
                  label='ТОП' 
                  (onChange)="changePage(Page.id, Page.top, 'top')" >
              </p-checkbox>                                    
            </div> 
            <div>{{Page.id}}</div>          
            <div class="page-title flex align-items-center justify-content-center m-2">
              <p-button icon="pi pi-cog"  (onClick)="pref_page(Page.id)"></p-button>             
            </div>
            <div class="page-title flex align-items-center justify-content-center m-2">
              <app-single-upload-file (reload)="_Reload(Page.id)" [id]="Page.id" [id_component]="8"></app-single-upload-file>    

            </div>
          </div>
          <div>
            <app-chips [component_id]="2" [chips_id]="Page.id"> </app-chips>
            
           </div>
            <div class="flex w-full border p-2">
              <div class="flex-grow-1">
                <label>Титульний опис відео</label>
                <textarea class="page-head  w-full"
                    rows="2"
                    pInputTextarea 
                    [(ngModel)]="Page.head"
                    (change)="changePage(Page.id, Page.head, 'head')">
                </textarea>                  
              </div>
            <!--  <div class="flex-grow-1">
                <label>Опис відео</label>
                <textarea class="page-text  w-full"
                    rows="4"
                    pInputTextarea 
                    [(ngModel)]="Page.text"
                    (change)="changePage(Page.id, Page.text, 'text')">
                </textarea>                  
              </div> -->
            </div> 
            <div>
              <label>HTML код фрейма</label>
                <textarea class="page-head w-full"
                  rows="3"
                  pInputTextarea 
                  [(ngModel)]="Page.link_frame"
                  (change)="changePage(Page.id, Page.link_frame, 'link_frame')">
                </textarea>                  
            </div> 
            <div class="flex justify-content-between align-items-center p-3">
              <!--<div  class="w-40" (click)="openPage($event, Page.id)"> -->
              <div class="product-grid-item-content w-40"> 
                <img *ngIf="Page.photo_src"  src="{{Page.photo_src}}" class="title-img">                  
              </div>
              <!-- </div>-->
              <div *ngIf="Page.link_frame" class="product-grid-item-content" [innerHTML]="Page.link_frame | safehtml"></div>                      
            </div>            
            <div (click)="openPage($event, Page.id)">{{Page.text}}</div>                                  
        </div>        
      </ng-template> 
    </p-dataView> 
  </div>

<app-preference-page (clickDialog)="_Dialog()" [Page_id]="current_Page_id" [is_showDialog]="preference_show"></app-preference-page>   


<!--<div style="display: none;">
  <form id="uploadsTitPhoto" method="post" enctype="multipart/form-data">      
      <input type="file" id="fileUploadTitPhoto" name="file_upload" style="display: none" (change)="selectFile($event)" />      
  </form>
</div>-->

